<div id="footer">
    <ul>
        <li>@Html.ActionLink("Details", "Details", new { id = product.ProductId }) </li>
        <li>@Html.ActionLink("Edit", "Edit", new { id = product.ProductId }) </li>
        <li>@Html.ActionLink("Delete", "Delete", new { id = product.ProductId })</li>
    </ul>
</div>