<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="main">
        @RenderBody()
    </div>
    <footer>
        @Html.Partial("_Footer.cshtml")
    </footer>
</body>
</html>