@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Gummi.Models.Product

<h2>Product information:</h2>
<li>@Html.DisplayFor(model => model.name)</li>
<li>$ @Html.DisplayFor(model => model.price)</li>
<li>Made in: @Html.DisplayFor(model => model.origin)</li>