@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Gummi.Models.Product>


<h2>Gummi Products:</h2>
<hr />
<divid="product">
    <ul >
        @foreach (var product in Model)
        {
            <div class="list">
                <li>@Html.DisplayFor(modelProduct => product.name)</li>
                <ul>
                    <li>@Html.ActionLink("Details", "Details", new { id = product.ProductId })</li>
                    <li>@Html.ActionLink("Delete", "Delete", new { id = product.ProductId })</li>
                    <li>@Html.ActionLink("Edit", "Edit", new { id = product.ProductId }) </li>
                </ul>
            </div>
        }
    
    </ul>
</div>