@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
   
    <img src="~/Images/gummiFight.jpg" />
    <img src="~/Images/jumbotron.jpg" />
    <h2>About us</h2>
    <p>The first rule of Gummi Bear Kingdom is that you don't talk about Gummi Bear Kingdom</p>
    <p>The second rule of Gummi Bear Kingdom is that <stong>YOU DON'T TALK ABOUT GUMMI BEAR KINGDOM</stong></p>
    <p>If someone says "stop" or goes limp, taps out the fight is over</p>
    <p>Only two bears to a fight</p>
    <p>One Fight at a time</p>
    <p>No shirts, no shoes</p>
    <p>Fights will go as long as they have to</p>
    <p>If this is your first night at Gummi Bear Kingdom you have to fight</p>
